<html>

<head>
  <title>Uusi arvostelu</title>
</head>

<body>
  <form action="/create_item" method="post">
    <p>
      Elokuvan nimi: <br />
      <input type="text" name="title" maxlength="50" />
    </p>
    <p>
      Kategoria: <br />
      <select name="category">
        <option value="">(valitse)</option>
        <option value="Toiminta">Toiminta</option>
        <option value="Komedia">Komedia</option>
        <option value="Draama">Draama</option>
        <option value="Kauhu">Kauhu</option>
        <option value="Muu">Muu</option>
      </select> 
    </p>
    <p>
      Tähtiä: <br />
      <select name="stars">
        <option value="">(valitse)</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select> 
    </p>
    <p>
        Arvostelusi: <br />
        <textarea name="description" rows="20" cols="100"></textarea>
    </p>
    <input type="submit" value="Lähetä" />
  </form>
</body>

</html>