{% extends "layout.html" %}

{% block title %}Uusi arvostelu{% endblock %}

{% block content %}
<div class="new-item-container">
  <h2>Luo arvostelu</h2>
  <form action="/create_item" method="post">
    <div class="form-group">
      <label for="title">Elokuvan nimi:</label>
      <input type="text" id="title" name="title" class="input-field" maxlength="50" required />
    </div>
    {% for class in classes %}
    <div class="form-group">
      <label for="{{ class }}">{{ class }}:</label>
      <select id="{{ class }}" name="classes" class="input-field">
        <option value="">(valitse)</option>
        {% for option in classes[class] %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
        {% endfor %}
      </select>
    </div>
    {% endfor %}
    <div class="form-group">
      <label for="description">Arvostelusi:</label>
      <textarea id="description" name="description" class="input-field large-textarea" rows="20" cols="100" required></textarea>
    </div>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <button type="submit" class="btn">Lähetä</button>
  </form>
</div>
{% endblock %}