{% extends "layout.html" %}

{% block title %}{{ item.title }}{% endblock %}

{% block content %}
<h2>{{ item.title }}</h2>
{% if session.user_id == item.user_id %}
<p>
    <a href="/edit_item/{{ item.id }}" class="btn">Muokkaa</a>
    <a href="/delete_item/{{ item.id }}" class="btn">Poista</a>
</p>
{% endif %}

{% for class in classes %}
    <p><strong>{{ class.title }}:</strong> {{ class.value }}</p>
{% endfor %}
<p class="author">
    <strong>Tekijä:</strong> <a href="/user/{{ item.user_id }}" class="btn-small">{{ item.username }}</a>
</p>

<p class="description">
{{ item.description | show_lines }}
</p>

<h2>Kommentit</h2>
<div>
    {% for comment in comments %}
    <div class="comment">
        <a href="/user/{{ comment.user_id }}" class="btn-small">{{ comment.username }}</a> <p>{{ comment.comment }}</p>
    </div>
    {% endfor %}
</div>

{% if session.user_id %}
<form action="/create_comment" method="post">
    <input type="hidden" name="item_id" value="{{ item.id }}" />
    <div class="form-group">
        <label for="comment">Lisää kommentti:</label>
        <textarea id="comment" name="comment" class="input-field large-textarea" rows="5" cols="50"></textarea>
    </div>
    <input type="hidden" name="item_id" value="{{ item.id }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <button type="submit" class="btn">Lähetä</button>
</form>
{% else %}
<p>Kirjaudu sisään kommentoidaksesi.</p>
{% endif %}
{% endblock %}



